
@import 'components/_normalize';
@import '_h5bp';
@import 'components/_components/_iconp';
@import 'components/_components/_slick';
@import 'components/_animate';

// @import '_basic';

// @import 'components/components';
@font-face {
  font-family: "CircularStd-Book";
  src: local("CircularStd-Book.otf"), url("/fonts/CircularStd-Book.otf");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
}   


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'CircularStd-Book', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,ul,li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  transform: translateY(-200px);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  #hello {
    color:white;
    height: 200px;
    width:90%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    font-size: 1em;
  }
}

header.clicked {
  background-color: black;
  transform: translateY(0);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  .logo {
    color: white;
    transition: color 400ms ease-in-out;
  }
}

header.down {
  transform: translateY(-100vh);
  transition: transform 400ms ease-in-out; 
}

.fold {
  font-family: 'NotCourierSansBold', Helvetica, Arial, sans-serif;
  display: block;
  animation-duration: 400ms;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  font-size: 2em;
  letter-spacing: 0.5em;
}

.logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  width: 100%;
}

main {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 30px;
  padding-top: 50px;
  font-size: 2em;
}

.info {
  display: none;
}

.projet-note {
  margin-top: 20px;
  font-size: 0.4em;
  transition: color .6s ease;
  a {
    color: inherit;
  }
}

// ---------------custom scrollbar---------------------
.mCSB_inside > .mCSB_container{ margin-right: 0px; }
.mCSB_scrollTools {
  width: 4px;
}


/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

html, body {
  height: 100%;
  width:100%;
  overflow: hidden;
}

header {
  transform: translateY(-70vh);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  #hello {
    font-size: 2em;
    height: 70vh;
  }
}
.fold {
  text-transform: uppercase;  
}

.logo {
  font-size: 2.5vw;
  letter-spacing: 7.2vw;
  margin: 0 auto;
  padding: 0;
  padding-top: 0px;
  
  width:100%;
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.info {
  display: block;
  width: 100%;
  background-color: white;
  // height: 50vh;
  margin: 0 auto;
  font-size: 2.5vw;
  letter-spacing: 3.65vw;
  position: fixed;
  bottom: 0;
  left:0;
  padding: 0;
  .wrapper {
    width: 90%;
    margin: 0 auto;
    a:hover {
        color:#ddd;
    }
  }
}

main {
  position: relative;
  font-size: 3.5vw;
  margin: 0 auto;
  //height of header
  // padding-top: 54px;
  //height of footer
  // padding-bottom: 44px;
  width: 100%;
  height:100%;
  padding-top: 0px;
  padding-bottom: 0px;
  // background-color: #eee;
}

#projets {
  // display: flex;
  // justify-content:center;
  // align-items:center;
  text-align: center;
  height: 100%;

  // &:before,
  // &:after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  //   height: 1.5px;
  //   left:0;
  //   top:50%;
  //   transform: scaleX(0);
  //   z-index: 10;
  // }
  // &:before {
  //   transition: transform 0s ease, background-color .3s ease;
  //   background-color: transparent;
  //   transform-origin: right 50%;
  // }
  // &:after {
  //   transition: transform .3s ease;
  //   background-color: black;
  //   transform-origin: left 50%;
  // }
  // &.showSingle:before {
  //   transform: scaleX(1);
  //   background: black;
  //   transition: transform .3s ease;
  // }
  // &.showSingle:after {
  //   transform: scaleX(1);
  //   background: transparent;
  //   transition: all 0s ease;
  // }
}

.works-pic,
.works-name {
  // flex:1;
  float: left;
  width: 50%;
  height: 100%;
  overflow: scroll;
  // position: relative;
}

.works-pic {
  background-color: #eee;
  // padding-left: 5%;
}

.work {
  position: relative;
  width:80%;
  margin-left: 10%;
  padding:40px 0;
  &:first-child {
      margin-top: 100px;
  }
  &:last-child {
    padding-bottom: 150px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    padding-top:20px;
    opacity: 1;
    // transition: opacity 600ms ease-in-out;
    }
  // &:after {
  //     content:"";
  //     display: block;
  //     position: absolute;
  //     top:51%;
  //     left:0%;
  //     width:100vw;
  //     height: 1px;
  //     background-color: transparent;
  //     z-index: 10;
  //   }
  //   &.showSingle:after {
  //     width: 100vw;
  //     background-color: black;
  //   }
  
}

.work-name {
  cursor: pointer;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  &:first-child {
      margin-top: calc(50vh - 150px)
  }
  &:last-child {
    margin-bottom: calc(50vh - 100px);
  }
  transition: color .6s ease;
  // &:after {
  //     content:"";
  //     display: block;
  //     position: absolute;
  //     top:51%;
  //     right:0;
  //     // bottom:0;
  //     width:100vw;
  //     height: 1px;
  //     background-color: transparent;
  //     z-index: 10;
  //   }
  //   &.showSingle:after {
  //     width: 100vw;
  //     background-color: black;
  //   }
}


// .clicked.work:before,
// .animated.work:before {
//   opacity: 0;
// }

// .clicked.work img,
// .animated.work img {
//   opacity: 1;
//   transition: opacity 600ms ease-in-out;
// }
// @function set-text-color($color) {
//     @if (lightness( $color ) > 40) {
//       @return #000000;
//     }
//     @else {
//       @return #FFFFFF;
//     }
// }



}
