/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import 'components/_normalize';
@import '_h5bp';
@import 'components/_components/_iconp';
@import 'components/_animate';

// @import '_basic';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
// @import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background-color: #ddd;
}

a {
  text-decoration: none;
}

ol,ul,li {
  list-style: none;
}

body {
  // position: relative;
  font-family: 'CircularStd-Book', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  // min-height: 100%;
}

// body.open {
//   overflow: hidden;
// }

.app-bar {
  font-family: 'NotCourierSansBold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;  
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
  transition-delay: 0.5s;
}

.app-bar.hide {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.app-bar-container {
  // width: 100%;
  // height: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 800px;
}

// .app-bar.open,
// .app-bar.open ~ main {
//   -webkit-transform: translate(250px, 0);
//           transform: translate(250px, 0);
// }

.app-bar .logo {
  // -webkit-flex: 1;
  //     -ms-flex: 1;
  //         flex: 1;
  font-size: 2.5vw;
  letter-spacing: 7.2vw;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  // color: #fff;
  float: none;
  max-width: none;
  width:100%;
  height: 50vh;
  // perspective-origin:50% 0%;
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar .info {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  font-size: 2.5vw;
  letter-spacing: 3.65vw;
  position: relative;
  // perspective-origin:50% 100%;
  .wrapper {
    position: absolute;
    width: 90%;
    bottom: 20px;
    left: 5%;
  }
}

.fold {
  box-sizing: border-box;
  background-color: white;
}

#toggle {
  cursor: pointer;
  width: 5em;
  height:1.5em;
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  // height: 80vh;
  // display: none;
}

// .logo.unfold{
//   transform: rotateX(90deg) translateY(-15vh);
//   transform-origin: 50% top 0;
// }

// .info.unfold{
//   transform: rotateX(-90deg) translateY(15vh);
//   transform-origin: 50% bottom 0;
// }

// .app-bar-actions {
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-direction: row;
//       -ms-flex-direction: row;
//           flex-direction: row;
//   z-index: 2;
// }

// .app-bar button {
//   width: 60px;
//   height: 60px;
//   background-image: none;
//   background-color: transparent;
//   border: none;
//   padding: 0;
//   display: inline-block;
//   -webkit-transition: background-color 0.2s ease-out;
//           transition: background-color 0.2s ease-out;
//   -webkit-tap-highlight-color: transparent;
// }

// .app-bar button img {
//   height: 24px;
//   width: 24px;
// }

// .app-bar button:hover {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// .app-bar button:focus {
//   background-color: rgba(255, 255, 255, 0.2);
//   outline: 0;
// }

// .app-bar button:active {
//   background-color: rgba(255, 255, 255, 0.4);
// }

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


// .navdrawer-container {
//   z-index: 1;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 250px;
//   height: 100%;
//   background-color: #23ED7F;
//   color: #ddd;
//   -webkit-transform: translate(-250px, 0);
//           transform: translate(-250px, 0);
//   overflow-y: auto;
// }

// .navdrawer-container.open {
//   -webkit-transform: translate(0, 0);
//           transform: translate(0, 0);
// }


// .navdrawer-container h4,
// .navdrawer-container ul li a {
//   height: 60px;
//   padding: 17px 20px;
//   line-height: 1.4;
// }

// .navdrawer-container h4 {
//   background-color: white;
//   color: #3367D6;
// }

// .navdrawer-container ul {
//   padding: 0;
//   margin: 0;
//   list-style-type: none;
// }

// .navdrawer-container ul li a {
//   display: block;
//   text-decoration: none;
//   color: white;
//   -webkit-transition: background-color 0.2s ease-out;
//           transition: background-color 0.2s ease-out;
//   white-space: nowrap;
// }

// .navdrawer-container ul li {
//   border-bottom-style: solid;
//   border-width: 1px;
//   border-color: white;
//   padding: 0;
// }

// .navdrawer-container ul li::before {
//   content: none;
// }

// .navdrawer-container ul li a:hover {
//   background-color: rgba(255, 255, 255, 0.2);
// }

// .navdrawer-container ul li a:focus {
//   background-color: rgba(255, 255, 255, 0.3);
//   outline: 0;
// }

// .navdrawer-container ul li a:active {
//   background-color: rgba(255, 255, 255, 0.4);
// }

main {
  font-size: 3.5vw;
  margin: 0 auto;
  /* Height of the header */
  // padding: 0px 16px 16px 16px;
  // height: 100%;
  width: 100%;
  background-color: rgb(86, 172, 83);
}

#svg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:#000;
  z-index: -1;
}

#down {
  text-align: center;
  position: absolute;
}


/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    // position: relative;
  }

  // .app-bar.open,
  // .app-bar.open ~ main {
  //   -webkit-transform: translate(0px, 0);
  //           transform: translate(0px, 0);
  // }

  // .app-bar-container {
  //   display: block;
  //   width: 100%;
  //   box-sizing: border-box;
  // }


  // .app-bar-actions {
  //   float: right;
  // }

  // .app-bar::after {
  //   content: ' ';
  //   display: block;
  //   height: 0;
  //   overflow: hidden;
  //   clear: both;
  // }

  // .navdrawer-container {
  //   position: relative;
  //   width: 100%;
  //   height: auto;
  //   margin-top: 0;
  //   -webkit-transform: translate(0, 0);
  //           transform: translate(0, 0);
  //   -webkit-transition: none;
  //           transition: none;
  //   overflow-y: auto;
  // }

  // .navdrawer-container {
  //   display: none;
  // }

  // .navdrawer-container ul {
  //   display: -webkit-flex;
  //   display: -ms-flexbox;
  //   display: flex;
  //   max-width: 864px;
  //   margin: 0 auto;
  //   -webkit-flex-direction: row;
  //       -ms-flex-direction: row;
  //           flex-direction: row;
  // }

  // .navdrawer-container ul li {
  //   border: none;
  // }

  main {
    // max-width: 864px;
    // height: 100vh;
  }

  body {
    overflow-y: scroll;
  }

}

@font-face {
  font-family: "CircularStd-Book";
  src: local("CircularStd-Book.otf"), url("/fonts/CircularStd-Book.otf");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
}   
