
@import 'components/_normalize';
@import '_h5bp';
@import 'components/_components/_iconp';
@import 'components/_animate';

// @import '_basic';

// @import 'components/components';
@font-face {
  font-family: "CircularStd-Book";
  src: local("CircularStd-Book.otf"), url("/fonts/CircularStd-Book.otf");
  font-weight:  400;
  font-style:   regular;
  font-variant: normal;
  font-stretch: normal;
}   


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'CircularStd-Book', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,ul,li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  transform: translateY(-200px);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  #hello {
    color:white;
    height: 200px;
    font-size: 1em;
  }
}

header.clicked {
  background-color: black;
  transform: translateY(0);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  .logo {
    color: white;
    transition: color 400ms ease-in-out;
  }
}

header.down {
  transform: translateY(-100vh);
  transition: transform 400ms ease-in-out; 
}

.fold {
  font-family: 'NotCourierSansBold', Helvetica, Arial, sans-serif;
  display: block;
  animation-duration: 400ms;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  font-size: 2em;
  letter-spacing: 0.5em;
}

.logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  width: 100%;
}

main {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 30px;
  padding-top: 50px;
  font-size: 2em;
}

.info {
  display: none;
}


/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

html, body {
  height: 100%;
  width:100%;
  overflow: hidden;
}

header {
  transform: translateY(-70vh);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
  #hello {
    font-size: 2em;
    height: 70vh;
  }
}
.fold {
  text-transform: uppercase;  
}

.logo {
  font-size: 2.5vw;
  letter-spacing: 7.2vw;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  
  width:100%;
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.info {
  display: block;
  width: 100%;
  background-color: white;
  // height: 50vh;
  margin: 0 auto;
  font-size: 2.5vw;
  letter-spacing: 3.65vw;
  position: fixed;
  bottom: 0;
  left:0;
  padding: 0;
  .wrapper {
    width: 90%;
    margin: 0 auto;
    a:hover {
        color:#ddd;
    }
  }
}

main {
  position: relative;
  font-size: 3.5vw;
  margin: 0 auto;
  //height of header
  // padding-top: 54px;
  //height of footer
  // padding-bottom: 44px;
  width: 100%;
  height:100%;
  padding-top: 0px;
  padding-bottom: 0px;
  // background-color: #eee;
}

#projets {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  height: 100%;
  // overflow: hidden;
}

.works-pic,
.works-name {
  flex:1;
  height: 100%;
  overflow: scroll;
}

.works-pic {
  background-color: #eee;
  padding-left: 5%;
  // padding-top: 54px;
  // padding-bottom: 44px;
}
.work {
  padding:40px 0;
}
.work-pic {
    width: 90%;
    height: auto;
    padding:40px 10% 20px 0;
}

.work-name {
  cursor: pointer;
  padding-top: 50px;
  padding-bottom: 50px;
  &.expanded {
    height: 100%;
    vertical-align: center;
  }
  &:first-child {
      padding-top: 200px;
  }
  &:last-child {
    padding-bottom: 50vh;
  }
}


.work {
  position: relative;
  img {
    display: block;
    width: 90%;
    height: auto;
    margin:0 10% 0 0;
    opacity: 1;
    // transition: opacity 600ms ease-in-out;
    }
  // &:before {
  //     content:"";
  //     display: block;
  //     position: absolute;
  //     top:40px;
  //     left:0;
  //     width: 90%;
  //     height: calc(100% - 120px);
  //     background-color: black;
  //     opacity: 1;
  //     }
  
}

// .clicked.work:before,
// .animated.work:before {
//   opacity: 0;
// }

// .clicked.work img,
// .animated.work img {
//   opacity: 1;
//   transition: opacity 600ms ease-in-out;
// }

.projet-note {
  margin-top: 20px;
  font-size: 0.5em;
}


}
